(
    height: 5,
    width: 5,
    pattern: [
        [Empty, Regular("Green"), Regular("Red"), Regular("Red"), Regular("Green")],
        [Regular("Red"), Empty, Regular("Red"), Blocker, Regular("Green")],
        [Regular("Blue"), Regular("Yellow"), Regular("Green"), Empty, Empty],
        [Empty, Empty, Blocker, Regular("Yellow"), Regular("Yellow")],
        [Regular("Blue"), Regular("Blue"), Regular("Blue"), Regular("Yellow"), Blocker],
    ],
)